@font-face
{
  font-family: Zb;
  font-style: normal;
  font-weight: normal;
  src: url('font.woff') format('woff'), url('font.ttf') format('truetype'), url('font.otf') format('opentype');
}

html
{
	height: 100%;
}

body
{
	height: 100%;
	margin:0px;
	padding:0px;
	font-family: Zb, 'Open Sans', sans-serif;
	font-size: 24px;
	color: #434343;
	overflow: hidden;
	background-image: url("../images/hex_bg.png");
	background-size: cover;
}

h1
{
	font-size:100px;
	color: #85C443;
	margin:0;
	font-weight: 700;
}

h2
{
	font-size: 36px;
	color: #85C443;
	margin:0;
	font-weight: 700;
	letter-spacing: 2px;
}

h3
{
	font-size: 36px;
	margin:0;
	font-weight:300;
	color: #E5E5E5;
}

h4
{
	font-size: 24px;
	margin:0;
	font-weight:300;
	color: #E5E5E5;
}

#menu
{
	width: 800px;
	height: 100px;
	overflow: auto;
	position: fixed;
	top: 0px;
	left: 30%;
	z-index:2;
}

@media all and (max-width: 1200px)
{
	#menu
	{
		right: 0;
		left: inherit !important;
	}
}

#menu ul
{
	margin: 6px 0 0 -30px;
	list-style: none;
}

#menu ul li
{
	float: left;
	margin: 15px;
	width: 115px;
	text-align: center;
	font-weight: bold;
}

#menu ul li a
{
	text-decoration: none;
	color: #434343;
}

#menu ul li a:hover
{
	color: #E5E5E5;
}

/*
#menu ul li span::before
{
	content: "\066d\00a0\00a0";
	vertical-align: middle;
}

#menu ul li span::after
{
	content: "\00a0\00a0\066d";
	vertical-align: middle;
}

#menu ul li a:hover::before
{
	content: "\066d\00a0\00a0";
	vertical-align: middle;
}

#menu ul li a:hover::after
{
	content: "\00a0\00a0\066d";
	vertical-align: middle;
}
*/

.container
{
	height: 100%;
	width: 100%;
	position: absolute;
}

#home
{
}

#above
{
}

#below
{
}

#left
{
}

#right
{
}

#topbar
{
    background-color: #85C443;
    position: fixed;
    width: 100%;
    height: 8px;
    top: 0;
    left: 0;
}

#sidebar
{
	-ms-transform: rotate(-90deg); /* IE 9 */
    -webkit-transform: rotate(-90deg); /* Chrome, Safari, Opera */
    transform: rotate(-90deg);
	position: fixed;
	bottom: 96px;
	right: -79px;
	font-size: 12px;
}

.page
{
	height: 100%;
	width: 100%;
	top: 0px;
	left: -5000px;
	position: absolute;
	display:none;
}

.sub_page
{
	left:0px;
}

.content
{
	position:absolute;
	top: 100px;
	left: 200px;
	min-height: 600px;
}

.page_title
{
	margin-bottom: 20px;
}

.middle
{
    position: absolute;
    top:25%;
    bottom: 0;
    left: 0;
    right: 0;
	text-align:center;
    margin: auto;
}

.grey
{
	color: #434343;
}

.col
{
	float:left;
	margin-left:20px;
	text-align:center;
}

.smaller
{
	font-size:.8em;
}

.line
{
	width:80px;
	border-bottom:3px solid #434343;
	margin: 10px auto;
}

.green_line
{
	width:80px;
	border-bottom:3px solid #85C443;
	margin: 10px auto;
}

.clickable
{
	cursor:pointer;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	margin-bottom:40px;
}

.up
{
	background-image: url("../images/up.png");
	position: absolute;
	top: calc(50% - 100px);
	left: -150px;
	height: 75px;
	width: 75px;
}

.down
{
	background-image: url("../images/down.png");
	position: absolute;
	top: calc(50% + 100px);
	left: -150px;
	height: 75px;
	width: 75px;
}

.about_item
{
	text-align: right;
	width: 400px;
}

.about_item img
{
	margin-left: 40px;
	vertical-align:middle;
}

.clearer
{
	clear:both;
}

/* ------------------------------------------------------ 
#loading_pages
{
	position: absolute;
	top: 2px;
	left: 16px;
	display: block;
	font-size: 14px;
}
*/
#menu_hex
{
	transform: rotate(-84deg);
	position: absolute;
	top: -56px;
	left: 11px;
	z-index: -1;
}

.hexagon
{
  position: relative;
  width: 120px; 
  height: 69.28px;
  margin: 34.64px 0;
}

.hexagon:before, .hexagon:after
{
	content: "";
	position: absolute;
	z-index: 1;
	width: 84.85px;
	height: 84.85px;
	-webkit-transform: scaleY(0.5774) rotate(-45deg);
	-ms-transform: scaleY(0.5774) rotate(-45deg);
	transform: scaleY(0.5774) rotate(-45deg);
	background-color: inherit;
	left: 15.5736px;
}

.hexagon:before { top: -42.4264px; }
.hexagon:after { bottom: -42.4264px; }

.hex_green_bg { background-color: #85C443; }

/* --- grey border --- */
.hex_grey_border { border-left: solid 2px #434343; border-right: solid 2px #434343; }
.hex_grey_border:before { border-top: solid 2.8284px #434343; border-right: solid 2.8284px #434343; }
.hex_grey_border:after { border-bottom: solid 2.8284px #434343; border-left: solid 2.8284px #434343; }

/* --- green border --- */
.hex_green_border { border-left: solid 2px #85C443; border-right: solid 2px #85C443; }
.hex_green_border:before { border-top: solid 2.8284px #85C443; border-right: solid 2.8284px #85C443; }
.hex_green_border:after { border-bottom: solid 2.8284px #85C443; border-left: solid 2.8284px #85C443; }

/* --- blue border --- */
.hex_blue_border { border-left: solid 2px #43BAC4; border-right: solid 2px #43BAC4; }
.hex_blue_border:before { border-top: solid 2.8284px #43BAC4; border-right: solid 2.8284px #43BAC4; }
.hex_blue_border:after { border-bottom: solid 2.8284px #43BAC4; border-left: solid 2.8284px #43BAC4; }

/* --- purple border --- */
.hex_purple_border { border-left: solid 2px #B543C4; border-right: solid 2px #B543C4; }
.hex_purple_border:before { border-top: solid 2.8284px #B543C4; border-right: solid 2.8284px #B543C4; }
.hex_purple_border:after { border-bottom: solid 2.8284px #B543C4; border-left: solid 2.8284px #B543C4; }

/* --- fuscia border --- */
.hex_fuscia_border { border-left: solid 2px #C44390; border-right: solid 2px #C44390; }
.hex_fuscia_border:before { border-top: solid 2.8284px #C44390; border-right: solid 2.8284px #C44390; }
.hex_fuscia_border:after { border-bottom: solid 2.8284px #C44390; border-left: solid 2.8284px #C44390; }

/* --- red border --- */
.hex_red_border { border-left: solid 2px #C44343; border-right: solid 2px #C44343; }
.hex_red_border:before { border-top: solid 2.8284px #C44343; border-right: solid 2.8284px #C44343; }
.hex_red_border:after { border-bottom: solid 2.8284px #C44343; border-left: solid 2.8284px #C44343; }

/* --- orange border --- */
.hex_orange_border { border-left: solid 2px #C48643; border-right: solid 2px #C48643; }
.hex_orange_border:before { border-top: solid 2.8284px #C48643; border-right: solid 2.8284px #C48643; }
.hex_orange_border:after { border-bottom: solid 2.8284px #C48643; border-left: solid 2.8284px #C48643; }

/* --- yellow border --- */
.hex_yellow_border { border-left: solid 2px #BFC443; border-right: solid 2px #BFC443; }
.hex_yellow_border:before { border-top: solid 2.8284px #BFC443; border-right: solid 2.8284px #BFC443; }
.hex_yellow_border:after { border-bottom: solid 2.8284px #BFC443; border-left: solid 2.8284px #BFC443; }
